*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.timers_div {
    border: 1px solid black;
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

